In [1]:

'''
high level
platform independent
easy
dynamic
highly secure

type casting - bsically defines the type of data/variable used
'''

'\nhigh level\nplatform independent\neasy\ndynamic\nhighly secure\n\ntype casting - bsically defines the type of data/variable used\n'

In [2]:
a=1
b=2.999
c=90
d=3+4j
e=False

In [3]:
print(a)
print(type(a))

1
<class 'int'>

In [4]:
print(b)
print(type(b))

2.999
<class 'float'>

In [5]:
print(c)
print(type(c))

90
<class 'int'>

In [6]:
print(type(d))

<class 'complex'>

In [7]:
print(type(e))

<class 'bool'>

In [8]:
%whos

Variable   Type       Data/Info
-------------------------------
a          int        1
b          float      2.999
c          int        90
d          complex    (3+4j)
e          bool       False

In [9]:
a=2
b=3

In [10]:
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)
print(a**4/9)

5
-1
6
0.6666666666666666
0
2
8
1.7777777777777777

In [11]:
print(f"var a = {a} \n var b = {b}")

var a = 2
 var b = 3

### STRING DATA TYPES

In [12]:
name = input("enter your name : ")
surname = input("enter surname :")

enter your name : suraj
enter surname :shaikh

In [13]:
full_name = name+" "+surname
print(full_name)

suraj shaikh

In [14]:
type(full_name)

str

In [15]:
len(full_name)

12

In [16]:
print(name + surname)

surajshaikh

In [17]:
full_name[0:10]

'suraj shai'

In [18]:
full_name[-1]   # shows only last element of string

'h'

In [19]:
full_name[-4:]  #indexing from end

'aikh'

In [20]:
full_name[:-4]   #indexing from start to -4 position

'suraj sh'

In [21]:
full_name[11]

'h'

In [22]:
full_name[::-1]      #reverse the string

'hkiahs jarus'

### couple of operation on string

In [23]:
full_name.lower()     #convert string to lower case

'suraj shaikh'

In [24]:
full_name.upper()     #covert string to upper case

'SURAJ SHAIKH'

In [25]:
full_name.title()     #capitalize the every world of every letter in string

'Suraj Shaikh'

In [26]:
full_name.lstrip()    #removes spaces from left of string

'suraj shaikh'

In [27]:
full_name.rstrip()   #removes spaces from right of string

'suraj shaikh'

In [28]:
full_name.strip()  # removes spaces from both ends

'suraj shaikh'

In [29]:
name.lower().strip() + surname.upper()

'surajSHAIKH'

In [30]:
name.lower().strip()+" "+surname.title()

'suraj Shaikh'

In [31]:
name.find('suraj') # find the starting index of word

0

In [32]:
name.replace('suraj','surajkhan')

'surajkhan'

In [33]:
name

'suraj'

In [34]:
name.swapcase()   # it will swap the the cases of characters in string

'SURAJ'

In [35]:
name.casefold()   # it will covert string into lower case

'suraj'

### LIST

In [36]:
a=[1,2,3,4,5,6]
b=["a","b","c","d","e"]

In [37]:
type(a)  #

list

In [38]:
type(b)

list

In [39]:
len(b)

5

In [40]:
b[:5]

['a', 'b', 'c', 'd', 'e']

In [41]:
c=[1,"a",2,"b"]

In [42]:
type(c)

list

In [43]:
b[-5:]

['a', 'b', 'c', 'd', 'e']

In [44]:
b[2:4]

['c', 'd']

In [45]:
a+b

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd', 'e']

In [46]:
c=a+b

In [47]:
c

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd', 'e']

In [48]:
c[2:8]

[3, 4, 5, 6, 'a', 'b']

In [49]:
len(c)

11

In [50]:
c

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd', 'e']

In [51]:
a.append(b)  #append will add the whole list at the end of list you want

In [52]:
a

[1, 2, 3, 4, 5, 6, ['a', 'b', 'c', 'd', 'e']]

In [53]:
a.extend(b)   #extend will add the individual element one by one

In [54]:
a

[1, 2, 3, 4, 5, 6, ['a', 'b', 'c', 'd', 'e'], 'a', 'b', 'c', 'd', 'e']

In [55]:
a.pop(1)  # will remove the element from given index

2

In [56]:
a

[1, 3, 4, 5, 6, ['a', 'b', 'c', 'd', 'e'], 'a', 'b', 'c', 'd', 'e']

In [57]:
a.pop()

'e'

In [58]:
a

[1, 3, 4, 5, 6, ['a', 'b', 'c', 'd', 'e'], 'a', 'b', 'c', 'd']

In [59]:
a.insert(5,12)  # it will insert the element at given position
                # here first element is the position and the 2nd element is the value

In [60]:
a

[1, 3, 4, 5, 6, 12, ['a', 'b', 'c', 'd', 'e'], 'a', 'b', 'c', 'd']

In [61]:
a.remove(4)   #it will remove the first value from list  
              # only the first coming position of value will be removed

In [62]:
a

[1, 3, 5, 6, 12, ['a', 'b', 'c', 'd', 'e'], 'a', 'b', 'c', 'd']

In [63]:
a.remove("b")

In [64]:
a

[1, 3, 5, 6, 12, ['a', 'b', 'c', 'd', 'e'], 'a', 'c', 'd']

In [65]:
d=[1,2,3,5,7,8,9,4,2]

In [66]:
d

[1, 2, 3, 5, 7, 8, 9, 4, 2]

In [67]:
d.sort()        # it will sort the list in asc order

In [68]:
d

[1, 2, 2, 3, 4, 5, 7, 8, 9]

In [69]:
e=["a","b","x","r","y","d","w"]
e.sort()
e

['a', 'b', 'd', 'r', 'w', 'x', 'y']

In [70]:
z=["suraj","sandy","jai","siddhi","kinjal","dhairya"]

In [71]:
z.sort()

In [72]:
z

['dhairya', 'jai', 'kinjal', 'sandy', 'siddhi', 'suraj']

### SETS

In [73]:
s1 = set(d)

In [74]:
s1

{1, 2, 3, 4, 5, 7, 8, 9}

In [75]:
s2 = set([2,4,5,3,4,5,6,7,6])

In [76]:
s2

{2, 3, 4, 5, 6, 7}

In [77]:
s1.intersection(s2)

{2, 3, 4, 5, 7}

In [97]:
s1 and s2   # this isnt right way

{2, 3, 4, 5, 6, 7}

In [79]:
s1 & s2

{2, 3, 4, 5, 7}

In [80]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [81]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [82]:
s1 or s2

{1, 2, 3, 4, 5, 7, 8, 9}

In [83]:
" ".join(["s","u","r","a","j"])

's u r a j'

In [84]:
" | ".join(["s","u","r","a","j"])

's | u | r | a | j'

### TUPLES

In [85]:
t1 = (1,3,5,7,9)

In [86]:
t1

(1, 3, 5, 7, 9)

In [87]:
type(t1)

tuple

### DICTIONARY

In [88]:
d1 = {}
d1['suraj'] = 'shaikh'
d1['rahul'] = 'gandhi'
d1['narendra'] = 'modi'

In [89]:
d1

{'suraj': 'shaikh', 'rahul': 'gandhi', 'narendra': 'modi'}

In [90]:
d1.keys()

dict_keys(['suraj', 'rahul', 'narendra'])

In [91]:
d1.values()

dict_values(['shaikh', 'gandhi', 'modi'])

In [92]:
d1['suraj']

'shaikh'

In [93]:
d1['kamlesh'] = 'yadav'

In [94]:
d1

{'suraj': 'shaikh', 'rahul': 'gandhi', 'narendra': 'modi', 'kamlesh': 'yadav'}

In [98]:
d1['suraj']='khan'
d1

{'suraj': 'khan', 'rahul': 'gandhi', 'narendra': 'modi', 'kamlesh': 'yadav'}

# CONTROL STRUCTURE AND LOOP

In [95]:
#IF STATEMENT

In [96]:
syntax:
if check_some_condition:
    do_something
else:
    do_something_else

SyntaxError: invalid syntax (<ipython-input-96-28f6a99cf1f1>, line 1)

In [ ]:
var = int(input("Enter the number: "))
if var % 2 == 0:
    print(f"{var} Number is even")
else:
    print(f"{var} Number is odd")

In [106]:
# to check whether the string is starts with particular letter or not

In [107]:
str = "suraj"
x = input('ENter character to check: ')
if str.startswith(x):
    print("String starts with ",x)
else:
    print("string does not starts with ",x)

ENter character to check:
String starts with

In [108]:
string = input("Enter your name: ")
check_whether_string_starts_with = input("Enter letter")

if string.startswith('u'):
    print("String starts with u")
else:
    print("string does not starts with u")

Enter your name:
Enter letter
string does not starts with u

In [109]:
lis = [1,2,3,4,5,6,6,7,7,8,8]
integer = int(input("Enter no to check: "))

if integer in lis:
    print(f"{integer} is present in lis")
else:
    print(f"{integer} is not present in lis")

Enter no to check:

ValueError: invalid literal for int() with base 10: ''

In [110]:
str = input("ENter string : ")

if str[::-1] == str:
    print(f"{str} is palindrome")
else:
    print(f"{str} is not palindrome")

ENter string :
 is palindrome

In [111]:
user = {}
user['user1'] = 'password1'
user['user2'] = 'password2'
user['user3'] = 'password3'

In [112]:
user

{'user1': 'password1', 'user2': 'password2', 'user3': 'password3'}

In [113]:
username = input("Enter username : ")
password = input("Enter password : ")

if username in user.keys():
    if password == user[username]:
        print("Login Successful")
    else:
        print("Invalid credential")
else:
    print("Both Are Invalid credential")

Enter username : ee
Enter password : ew
Both Are Invalid credential

In [115]:

# creating an empty list
lst = []
  
# number of elements as input
n = int(input("Enter number of elements : "))
  
# iterating till the range
for i in range(0, n):
    ele = int(input())
  
    lst.append(ele) # adding the element
      
print(lst)

var = int(input("Enter number: "))

if var in lst:
    print("var in lst")
else:
    print("var not found")

Enter number of elements : 4
1
1
1
1
[1, 1, 1, 1]
Enter number: 1
var in lst

In [116]:
number = int(input("Enter a number : "))

if number < 10:
    print(f"{number} is less than 10")
elif number >= 10 and number < 20:
    print(f"{number} is between 10 and 20")
else:
    print(f"{number} is greater than 10")

Enter a number :

ValueError: invalid literal for int() with base 10: ''

# FOR LOOP

In [117]:
list = [1,2,3,4,5,6]

for i in list:
    print(i)

1
2
3
4
5
6

In [118]:
for i in range(8):
    if i % 2 == 0:
        print(i)
    else:
        print("Nothing")

0
Nothing
2
Nothing
4
Nothing
6
Nothing

In [119]:
for i in range(1,7):
    print(i)

1
2
3
4
5
6

In [120]:
for i in range(1,20,3):
    print(i)

1
4
7
10
13
16
19

In [121]:
for i in reversed(range(1,9)):
    print(i)

8
7
6
5
4
3
2
1

In [122]:
for i in reversed(range(9,1,-2)):
    print(i)

3
5
7
9

In [123]:
for i in range(1,5):
    print("#"*i)

#
##
###
####

In [127]:
for i in reversed(range(1,5)):
    print("&"*i)

&&&&
&&&
&&
&

In [128]:
for i in reversed(range(1,5)):
    print("&"*i)
for i in range(1,5):
    print("*"*i)

&&&&
&&&
&&
&
*
**
***
****

In [129]:
for i in range(1,5):
    print("*"*i)
for i in reversed(range(1,5)):
    print("*"*i)

*
**
***
****
****
***
**
*

In [130]:
for i in range(3):
    print("SURAJ")

SURAJ
SURAJ
SURAJ

In [131]:
for i in "hel o,":
    print(i)

h
e
l

o
,

In [134]:
for i in range(1,101):
    if i % 2 == 0:
        print(i)
        pass

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [135]:
even = []
odd = []

for i in range(100):
    if i % 2 == 0:
        even.append(i)
    else:
        odd.append(i)
        
print(even)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [136]:
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [137]:
print("Even Numbers : ",len(even))
print("Odd Numbers : ",len(odd))

Even Numbers :  50
Odd Numbers :  50

In [138]:
#factorial of a number

In [140]:
number  = int(input("Enter number to find factorial"))
fact = 1

for i in range(1,number+1):
    fact = fact*i
    
print(f'factorial of {number} is {fact}')

Enter number to find factorial5
factorial of 5 is 120

In [ ]:
#fibonacci series
# 1,1,2,3,5,8,13,21,34,55

In [142]:
n = int(input("Enter a number of elements you want in fibonacci series :"))
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

if n ==  1:
    print(a)
else:
    print(a)
    print(b)
    for i in range(2,n):
        c = a + b
        a = b
        b = c
        print(c)

Enter a number of elements you want in fibonacci series :5
Enter first number: 6
Enter second number: 1
6
1
7
8
15

In [ ]:
#while statement

In [ ]:
i=0

while i < 10:
    print(i)
    i += 1

In [ ]:
#basic function

In [ ]:
x1=int(input("Enter Number 1: "))
x2=int(input("Enter Number 2: "))

def addNumber(x1,x2):
    return x1+x2

def subNumber(x1,x2):
    return x1-x2

def mulNumber(x1,x2):
    return x1*x2

def divNumber(x1,x2):
    return x1/x2
    

print(addNumber(x1,x2))
print(subNumber(x1,x2))
print(mulNumber(x1,x2))
print(divNumber(x1,x2))

In [ ]:
#sum of n natural numbers
n = int(input("Enter a number:  "))
p=0

for i in range(1,n+1): #n+1 cz range is always ends at n-1 position
    p = p+i
    
print(p)

In [ ]:
#n = int(input("Enter a number:  "))

def sum_n_natural_no(n):
    p=0
    for i in range(1,n+1): #n+1 cz range is always ends at n-1 position
        p = p+i
    return p

In [ ]:
sum_n_natural_no(9)

In [ ]:
def add(*args):
    sum = 0
    for i in args:
        sum = sum+i
    return sum

In [ ]:
add(1,1,1,1,1,1,1,1,1,1,1,1,1,100000000000000)

In [ ]:
n = int(input("Enter a number to calculate  sum of no : "))

def sum_numbers(n = 1):
    sum = 0
    for i in range(n+1):
        sum = sum+i
    return sum

sum_numbers(n)

In [ ]:
sum_numbers(9)

In [ ]:
n = int(input("Enter a number to calculate fact of no : "))

def fact_of_numbers(n):
    fact = 1
    for i in range(1,n+1):
        fact = fact*i
    return fact

fact_of_numbers(n)